
.container {
    text-align: center; 
    margin-top: 20px; 
}


.title {
    font-size: 50px; 
    margin-bottom: 20px; 
    color: #d13438;
    font-family: 'Roboto', sans-serif;
   
}


.card-container {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 20px; 
    justify-content: center; 
}


.card {
    background-color: #ef2e2e; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease; 
}


.card:hover {
    transform: translateY(-5px); 
}
.modal-title {
    font-size: 28px; 
    font-family: 'Roboto', sans-serif; 
    color:#ef2e2e;

}
.container-120 {
    background-color: #323130;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    
}
.body-110{
    color: aliceblue;
}
.heading-109 {
    color: rgb(237, 235, 233);
    font-weight: 800;
    font-size: inherit;
    margin: 0px;
}
.root-97 {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: rgb(237, 235, 233);
    border: 1px solid rgb(0, 0, 0);
    max-width: 320px;
    min-width: 206px;
    position: relative;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 320px;
    user-select: none;
}

.dropdown-103{
   padding: 20px;
   display: block;
}
